*{
    margin: 0%;
    padding: 0%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html{
    background-color: rgb(83, 82, 82);
width: 100vw;
height: 100vh;
    
}
main{
    position: absolute;
    top: 490px;
    width: 100vw;
    height: auto;
    text-align: center;
   
    }
    footer{
        position: absolute;
        top: 2370px;
        width: 100vw;
        height: 70px;
        background-color:   #d8b103;
    }
    a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(17, 17, 19);
        text-decoration: none;/*tira a linha debaixo do link*/
    }

nav#menu{
    position: absolute;
    height: 75px;
    width: 100vw;
    background-color: rgb(41, 40, 40);
    
}


table#menu{
    position: absolute;
    top: 8px;
    width: 99vw;
    height: 60px;
    text-align: center;
    font-size: 0.5em;
    background-color: #d8b103;
    border-radius: 2%;
}
td#espaço{
    width: 700px;
    
}

.efeitobotao:hover{
background-color:  #8a7a34;
border-radius: 5%;
transition: 1s;


}
a#instagram{
    position: absolute;
    top: 13px;
    left: 3%;
    width: 10px;
    height: 10px;
 }
 a#whatsapp{
    position: absolute;
    top: 10px;
    left: 8%;
    width: 10px;
    height: 10px;
 }
 a:hover{
    text-decoration: underline;/*Adiciona linha debaixo dos links*/
}
 a>img:hover{
    width: 38px;
    transition: 0.3s;
    
 }    
      .slide {
        position: absolute;
        top: 56px;
        left: 11%;
        width: 75vw;
        height: 400px;
        margin: 20px auto;
        display: grid;
        border-radius: 8%;
        background-size: cover;
        
      }
      
      .slide-items {
        position: relative;
        grid-area: 1/1;
        border-radius: 5px;
        overflow: hidden;
      }
      
      .slide-nav {
        grid-area: 1/1;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
      }
      
      .slide-nav button {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        opacity: 0;
      }
      
      .slide-items > * {
        position: absolute;
        top: 0px;
        opacity: 0;
        pointer-events: none;
      }
      
      .slide-items > .active {
        position: relative;
        opacity: 1;
        pointer-events: initial;
      }
      
      .slide-thumb {
        display: flex;
        grid-column: 1 / 3;
      }
      
      .slide-thumb > span {
        flex: 1;
        display: block;
        height: 3px;
        background: rgba(0, 0, 0, 0.4);
        margin: 5px;
        border-radius: 3px;
        overflow: hidden;
      }
      
      .slide-thumb > span.active::after {
        content: '';
        display: block;
        height: inherit;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 3px;
        transform: translateX(-100%);
        animation: thumb 5s forwards linear;
      }
      
      @keyframes thumb {
        to {
          transform: initial;
        }
      }

        div#cafedamanha{
            position: absolute;
            top: 150px;
            width: 300px;
             height: 480px;
             border-radius: 2%;
             left: 50%;
         transform: translate(-50%);
                
        }
        a#titulocafé{
    
        font-size: 1.5em;
        white-space: nowrap;
        left: 50%;
        top: 0%;
        transform: translate(-50%,15%);
        text-align: justify;
        }

        div#almoço{
            position: absolute;
            top: 900px;
            width: 300px;
            height: 480px;
            border-radius: 2%;
            left: 50%;
            transform: translate(-50%);
            
        }
        div#pizza{
            position: absolute;
            top: 91px;
            width: 300px;
             height: 480px;
             border-radius: 2%;
             left: 50%;
         transform: translate(-50%);
             text-align: center;
        }
        div#Fundodecardapio{
            position: absolute;
            width: 98vw;
            left: 1%;
            height: 1670px;
            border-radius: 3%;
            background-image: linear-gradient(to top, white, #e9e6e6);
        }
        img#logomajore{
            position: absolute;
            top: 760px;
            left: 38%;
            width: 340px;
            height:320px;
        }


.font{
    font-size: 1.2em;
}
td#delivery{
    position: absolute;
    left: 38%;
    top: 40%;
   }
   td#sobrenos{
    position: absolute;
    left: 57%;
    top: 40%;
   }
   td#nossoespaço{
    position: absolute;
    left: 81%;
    top: 40%;
   }
 a#whatsapp{
    position: absolute;
    top: 20%;
    left: 15%;
 }
 div#contato{
    left: 78%;
    font-size: 0.6em;
    text-align: center;
}
p#descriçaocafé{
   
    text-align: justify;
}
a#titulocafé{
    position:absolute;
font-size: 1.5em;
white-space: nowrap;
left: 50%;
top: -20%;
transform: translate(-50%,15%);
text-align: justify;
}
a#tituloalmoço{
    position: absolute;
    left: 50%;
transform: translate(-50%);
top:-80px;
    font-size: 1.5em;
}
a#titulopizza{
    position: absolute;
    left: 50%;
transform: translate(-50%);
    text-align: justify;
    top: 1380px;
    font-size: 1.5em;
}
p#descriçaoalmoço{
    
    top: 680px;
    
    text-align: justify;
}
p#descriçaopizza{
    position: absolute;
    left: 50%;
transform: translate(-50%);
    top: 1450px;
    width: 80vw;
    height: 480px;
    text-align: justify;
}
img#cafemanhaprincipal{
    position: absolute;
    top: 370px;
    width: 270px;
    height: 350px;
    left: 50%;
transform: translate(-50%);
    text-align: center;
    border-radius: 2%;
}
img#almoço{
    position: absolute;
    top: 1080px;
    width: 270px;
    height: 350px;
    left: 50%;
transform: translate(-50%);
    border-radius: 2%;
}
img#pizza{
    position: absolute;
    top: 1730px;
    width: 270px;
    height: 350px;
    left: 50%;
transform: translate(-50%);
    border-radius: 2%;
}
div#Fundodecardapio{
    position: absolute;
    width: 98vw;
    left: 1%;
    height: 2180px;
    border-radius: 3%;
    background-image: linear-gradient(to top, white, #e9e6e6);
}
footer{
    position: absolute;
    top: 2680px;
}

::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}                 







@media screen and (min-width: 992px)and (max-width: 1800px) {
    html,body{
        height: 100vh;
        width: 100vw;
    }
    table#menu{
      
        font-size: 1em;
       }
       .font{
        font-size: 1.5em;
       }
       .efeitobotao:hover{
        background-color: #584e22;
       }
       .slide{
        position: absolute;
        left: 11%;
        width: 75vw;
        height: 400px;
       }
       main{
        position: absolute;
        top: 78%;
        width: 100vw;
        height: 300px;
        text-align: center;
       
        }
       
       td#delivery{
        position: absolute;
        left: 38%;
        top: 40%;
       }
       td#sobrenos{
        position: absolute;
        left: 57%;
        top: 40%;
       }
       td#nossoespaço{
        position: absolute;
        left: 81%;
        top: 40%;
       }
     a#whatsapp{
        position: absolute;
        top: 20%;
        left: 15%;
     }
     div#contato{
        left: 78%;
        font-size: 0.6em;
        text-align: center;
    }
    p#descriçaocafé{
        left: 15%;
        top: 20%;
        width: 400px;
        height: 480px;
        text-align: justify;
    }
    a#tituloalmoço{
        position: absolute;
        left: 170%;
        top: 146%;
        font-size: 3em;
    }
    p#descriçaoalmoço{
        position: absolute;
        left: 140%;
        top: 165%;
        width: 400px;
        height: 480px;
        text-align: justify;
    }
    a#titulopizza{
        position: absolute;
        left: 20%;
        top: 280%;
    }
    p#descriçaopizza{
        position: absolute;
        width: 400px;
        height: 480px;
       left: -12%;
        top: 300%;
        text-align: justify;}
    
    
    img#cafemanhaprincipal{
        position: absolute;
        top: 160px;
        width: 420px;
        height: 480px;
        left: 57%;
        border-radius: 2%;
    }
    img#almoço{
        position: absolute;
        top: 260%;
        width: 420px;
        height: 480px;
        left: 4%;
        border-radius: 2%;
    }
    img#pizza{
        position: absolute;
        top: 450%;
        width: 420px;
        height: 480px;
        left: 57%;
        border-radius: 2%;
    }
    
    ::-webkit-scrollbar{
        width: 0%;
        height: 0%;
    }                 
    div#Fundodecardapio{
        position: absolute;
        width: 98vw;
        left: 1%;
        height: 1980px;
        border-radius: 3%;
        background-image: linear-gradient(to top, white, #e9e6e6);
    }
    footer{
        position: absolute;
        top: 390%;
    }
    }
 
    

        @media screen and (min-width: 600px)and (max-width: 768px) {
            *{
                margin: 0%;
                padding: 0%; 
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            .font{
                font-size: 1.5em;
            }
            table#menu{
                font-size: 1em;
            }
            a#titulocafé{
    
                font-size: 2.5em;
                
                }
            div#cafedamanha{
                position: absolute;
                top: 150px;
                width: 500px;
                 height: 580px;
                 border-radius: 2%;
                 left: 50%;
             transform: translate(-50%);
                    
            }
            a#tituloalmoço{
               
                font-size: 2.5em;
            }
        
            div#almoço{
                position: absolute;
                top: 900px;
                width: 500px;
                 height: 580px;
                border-radius: 2%;
                left: 50%;
                transform: translate(-50%);
                
            }
            a#titulopizza{
                font-size: 2.5em;
            }
            div#pizza{
                position: absolute;
                top: 91px;
                width: 500px;
                height: 580px;
                 border-radius: 2%;
                 left: 50%;
             transform: translate(-50%);
                 text-align: center;
            }
    
               
               
            }
    








   
    
    
    