@font-face {
    font-family: "Evogria";
    src: url('Evogria.otf') format("opentype");
    font-weight:normal;
    font-style: normal;
}
body{
    background-color: rgb(100, 99, 99);
    font-family: "Evogria", Arial, sans-serif;
    
}
::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}
div#local{
    position: absolute;
    top: 90%;
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.5em;
    
}
iframe#mapa{
    width: 200px;
    height: 150px;
    border-radius: 4%;
}
div#resumo{
    position: absolute;
    left: 50%;
    background-color: aliceblue;
    font-size: 1.6em;
    transform: translate(-50%);    
    border-radius: 7px;
    padding: 1%;
    text-align: justify;
    width: 80vw;
    height: 70vh;
}
@media screen and (min-width: 601px)and (max-width: 900px) {
        div#resumo{
            font-size: 1.2em;
        
        }
}
@media screen and (min-width: 101px)and (max-width: 600px) {
    div#resumo{
        font-size: 1em;
       
    }
    
}